---
import Cake from "./Cake.astro";
import { getI18N } from "../i18n";
const i18n = getI18N(Astro.currentLocale);
---

<section class="p-4 lg:px-10">
  <h2 class="text-center lg:text-left text-white text-3xl md:text-4xl lg:text-5xl pb-6">{i18n.home.highlights}</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <Cake />
    <Cake />
    <Cake />
    <Cake />
    <Cake />
    <Cake />
</section>
<script>
  const response = await fetch('/api/cake');
  const { data } = await response.json();
  const beers = data.slice(0, 6);

  const beerCards = document.querySelectorAll('.beer-card');
  beerCards.forEach((card, index) => {
    const beer = beers[index];
    const img = card.querySelector('img') as HTMLImageElement;
    img.src = beer.img;
    img.alt = beer.name;
  });
</script>