---
import { getI18N, getPaths } from "../i18n";
const i18n = getI18N(Astro.currentLocale);
const paths = getPaths(Astro.currentLocale);

const menu = [
  { text: i18n.menu.recommendations, href: paths.recommendations },
  { text: i18n.menu.catalog, href: paths.catalog },
];
---

<nav
  id="header"
  class="fixed top-0 w-screen flex justify-between px-5 lg:px-10 py-3 items-center bg-darkGray text-white z-30 border-b-[1px] border-white/20"
>
  <a class="flex gap-1 items-center" href={paths.home}>
    <img src="/favicon.svg" alt="favicon" class="w-auto h-8 lg:h-10" />
    <span class="text-lg lg:text-xl font-bold">PASTELER-IA</span>
  </a>
  <div id="menu" class="cursor-pointer lg:hidden text-white">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </div>
  <ul
    class="fixed lg:relative top-14 lg:top-0 left-0 bg-darkGray lg:bg-transparent flex flex-col lg:flex-row lg:items-center gap-3 lg:gap-5 lg:text-lg z-20 w-full lg:w-fit py-5 lg:py-0 px-10 rounded-b-xl lg:rounded-b-none border-t-[1px] lg:border-none border-t-white/20"
  >
    {
      menu.map((link) => (
        <li class="pl-1 lg:pl-0">
          <a
            href={link.href}
            class="relative lg:after:w-0 lg:hover:after:w-full lg:after:h-[1px] lg:hover:after:bg-white lg:after:absolute lg:after:-bottom-2 lg:after:left-0 lg:after:rounded-lg lg:after:transition-all lg:after:duration-300 lg:after:ease-in-out text-nowrap"
          >
            {link.text}
          </a>
        </li>
      ))
    }
    <li>
      <select
        name="language"
        id="language"
        class="p-2 bg-black cursor-pointer rounded-lg ring-1 ring-white focus-visible:outline-none"
      >
        <option value="es" selected={Astro.currentLocale === "es"}
          >Español</option
        >
        <option value="en" selected={Astro.currentLocale === "en"}
          >English</option
        >
        <option value="fr" selected={Astro.currentLocale === "fr"}
          >Français</option
        >
      </select>
    </li>
  </ul>
</nav>

<script is:inline>
  let menu;
  let ul;
  let language;
</script>
<script is:inline data-astro-rerun>
  menu = document.querySelector("#menu");
  ul = document.querySelector("nav ul");
  language = document.querySelector("#language");

  menu.addEventListener("click", () => {
    console.log("click");
    const isOpen = ul.style.display === "flex";
    ul.style.display = isOpen ? "none" : "flex";
  });

  if (window.innerWidth >= 1024) {
    ul.style.display = "flex";
  } else {
    ul.style.display = "none";
  }

  window.addEventListener("resize", () => {
    if (window.innerWidth >= 1024) {
      ul.style.display = "flex";
    } else {
      ul.style.display = "none";
    }
  });

  language.addEventListener("change", () => {
    const path = language.value === "es" ? "/" : `/${language.value}`;
    window.location.href = path;
  });
</script>
