---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Highlights from '../components/Highlights.astro';
---

<Layout title="Pasteler-IA">
	<Hero />
	<main>
		<Highlights />
	</main>
</Layout>
