---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Highlights from '../components/Highlights.astro';
import YourPerfectCake from '../components/YourPerfectCake.astro';
import Testimonials from '../components/Testimonials.astro';

console.log(Astro.locals.user)
---

<Layout title="Pasteler-IA">
	<Hero />
	<main class="my-10">
		<YourPerfectCake />
		<Highlights />
		<Testimonials />
	</main>
</Layout>
